.nav-bar{
    background-color: rgb(255, 255, 255);
    max-height: 70px;
}
.nav-text{
    font-size: 18px;
    font-weight: 500;
}
.nav-text:hover{
    color:rgb(244, 171, 92);
    transition: color 0.25s ease;
}
.active{
    color:rgb(244, 171, 92);
    transition: color 0.25s ease;
}

.snow-button{
    width:41px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    /* border: 1px solid black;
    background-color: aliceblue; */
}

.snowflake{
    margin-left:-10px;
    margin-top:-4px;
}
.logo{
    margin-left: 20px;
    width: 60px;
    height: 60px;
    margin-top: -10px;
}

.subnavbar{
    margin-top: 2px;
    font-size: 14px;
    background-color: rgb(76, 76, 76);
    height: 40px;
}

.subnavbar-lvl2{
    /* margin-top: 1px; */
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    height: 120px;
    /* padding-top: 25px; */
}
.subnavbar-lvl2-img{
    /* margin-top:20px; */
    /* margin: 5px; */
    width: 140px;
    height: 105px;  
}
.mini{
    width: 110px;
    height: 80px;  
}

.subnav-text{
    color: white;
    transition: color 0.25s ease;
}
.subnav-text:hover{
    color: rgb(244, 171, 92);
    transition: color 0.25s ease;
}
.active{
    color:rgb(244, 171, 92);
    transition: color 0.25s ease;
}
.subnav-button{
    border: 0px;
    background-color: white;
    background-color: rgb(76, 76, 76);
    color:white;
}

.dropdown{
    height: 40px;
    margin-top: -20px;
    border: 0px;
    background-color: white;
    /* font-size: 22px; */
}
